{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "field": "$context.fieldName",
    "arguments": $util.toJson($context.arguments),
    "identity": $util.toJson($context.identity),
    "source": $util.toJson($context.source),
    "request": $util.toJson($context.request)
  }
}
